#page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 960px;
}

#options{
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid black;

}
.container{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;

    width: 960px;
    aspect-ratio: 1/1;

    margin: 20px auto;
    align-items: center;
    justify-content: space-evenly;
}

.row{
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: center;
}

.tile{
    display: flex;
    border: 1px solid black;
    box-sizing: border-box;
    aspect-ratio: 1/1;
    
}

.hovered{
    background-color: #000;
    opacity: 50%;
}
